/* ITEMS */
.items {
  width: 100%;
  margin: auto;
}
.items__title {
  padding-top: 140px;
}
.items__description {
  max-width: 70%;
  margin: auto;
}
.items__title,
.items__description {
  text-align: center;
  margin-bottom: 30px;
}

.items__container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}
.item__card {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 15px;
  border-radius: 3px;
  background: var(--background-color-1);
}
.item__img {
  width: inherit;
  height: 200px;
  border-radius: 3px 3px 0 0;
  object-fit: cover;
}
.item__title {
  text-align: center;
}
.item__card-details {
  margin: 0 10px;
}
.item__card-button {
  margin: auto;
  text-align: center;
  padding: 10px 20px;
  background: var(--first-color);
  border-radius: 3px;
  text-decoration: none;
  border: none;
  outline: none;
}
.item__img,
.item__title,
.item__card-details,
.item__card-button {
  margin-bottom: 10px;
}
/* ITEMS END */
