@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* first-colors */
  --first-color: #0061bd;
  --second-color: #029ded;
  --third-color: #0c0a20;
  --fourth-color: #161131;

  /* second-colors */
  --negative-color: #ff0035;

  /* gray */
  --gray-1-color: #0c0c0d;
  --gray-2-color: #1c1c1d;
  --gray-3-color: #313131;
  --gray-4-color: #454546;
  --gray-5-color: #5a5a5a;
  --gray-6-color: #6e6e6f;
  --gray-7-color: #838383;
  --gray-8-color: #989898;
  --gray-9-color: #acacad;
  --gray-10-color: #c1c1c1;
  --gray-11-color: #d6d6d6;
  --gray-12-color: #eaeaea;
  --gray-13-color: #f5f5f5;
  --gray-14-color: #f2f2f2;
  --gray-15-color: #f1f1f1;
  --white-color: #fff;

  /* brackground */
  --background-color-1: #0c0a20;
  --background-color-2: #161131;
  --background-color-3: #f5f5f5;

  /*chat */
  --telegram: #1e96c8;
  --whatsapp: #34ba47;

  /* fonts */
  /* Principal text */
  --first-font: "Raleway", sans-serif;
  /* Titles */
  --second-font: "Merriweather Sans", sans-serif;
  /* Special text - serif */
  --third-font: "Merriweather", serif;
}

/* UNIVERSAL */
* {
  margin: 0;
  text-decoration: none;
  font-family: var(--first-font);
}

/* font-size: 16px; */
/*rem = 10px */
html {
  font-size: 62.5%;
}

/* font-size: 16px; */
/*em = 10px */
body {
  font-size: 62.5%;
  margin: 0;
  background: var(--background-color-2);
}

/* GENERAL */
.main-h1 {
  font-family: var(--second-font);
  font-size: 2rem;
  color: var(--second-color);
}
.h1 {
  font-family: var(--second-font);
  font-size: 2.8rem;
  color: var(--gray-13-color);
}
.h2 {
  font-family: var(--second-font);
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--gray-11-color);
}
.h3 {
  font-family: var(--second-font);
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray-11-color);
  /*   text-align: center; */
}
.h4 {
  font-family: var(--second-font);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--second-color);
}
.h5 {
}
.h6 {
}

/* text */
.text-4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--gray-10-color);
}
.text-4-bold {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--gray-10-color);
}
.text-bold {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--second-color);
}

/* HEADER */
.header {
  width: 100%;
  height: 100px;
  background: var(--background-color-1);
  position: fixed;
  box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: inherit;
  margin: 0 50px;
}

.header__logo {
  width: 280px;
}

/* .header__logo-2 {
  display: none;
  height: 36px;
} */

.header__navbar {
  width: auto;
}

.header__link {
  font-size: 2rem;
  font-weight: 500;
  margin: 15px;
  color: var(--gray-12-color);
}

.header__link:hover {
  color: var(--second-color);
  border-bottom: 2px solid var(--second-color);
  transition: all 300ms ease;
}

/* MAIN */
.main {
  min-width: 100%;
}
.main__img {
  max-width: 100%;
  min-width: inherit;
  height: 500px;
  object-fit: cover;
}

.under-construction {
  text-align: center;
  padding: 15px 0;
}
.under-construction__text-1 {
  font-size: 3rem;
  color: var(--second-color);
}
.under-construction__text-2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--gray-13-color);
}
.under-construction__h1 {
  font-size: 2rem;
  color: var(--second-color);
}

/* environment */
.environment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.environment__img {
  width: 400px;
}

.environment__text-bold {
  margin-bottom: 15px;
}

.environment__text {
  width: 55%;
  margin-left: 40px;
}

/* environment */

/* ABOUT */
.about {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px 5%;
  background: var(--gray-13-color);
}
.about__main-title {
  margin: auto;
  text-align: center;
  color: var(--first-color);
  margin-bottom: 20px;
}
.about__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about__products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about__products-text-2 {
  margin-top: 10px;
}
.about__products-items-1 {
  grid-area: about__products-items-1;
  margin-right: 40px;
}

.about__products-text-1,
.about__products-text-2,
.about__services-text {
  font-size: 1.4rem;
  color: var(--first-color);
  margin-bottom: 10px;
}
.about__container-items {
  display: flex;
  justify-content: space-between;
}
.about__products-item,
.about__services-item {
  color: var(--first-color);
  margin-bottom: 5px;
  font-size: 1.4rem;
}
.about__products-item:hover,
.about__services-item:hover {
  color: var(--second-color);
}
.about__services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__products-items-1,
.about__products-items-2,
.about__services-items {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.about__button {
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--gray-13-color);
  background: var(--first-color);
  padding: 10px 20px;
  border-radius: 3px;
}

/* GENERALS */
.title {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: var(--gray-13-color);
}
.msj__title,
.social-media__title,
.pay__title,
.phones__icon-title,
.email__icon-title,
.address__icon-title {
  margin-bottom: 5px;
}
.text {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
  color: var(--gray-10-color);
}
.text-small {
  font-size: 1.2rem;
  font-family: var(--first-font);
  color: var(--gray-10-color);
}
.icon-title {
  font-size: 2.4rem;
  margin-right: 10px;
  color: var(--gray-13-color);
}

/* FOOTER */
.footer {
  width: 100%;
  background: var(--background-color-1);
  padding-top: 1px;
}

.footer__container {
  display: grid;
  grid-gap: 40px;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  margin: 40px auto;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "section-1   section-2   section-3";
}

/* SECTION 1 */
.section-1 {
  grid-area: section-1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}

.msj,
.social-media {
  margin-bottom: 30px;
}
.msj__text {
  margin-bottom: 5px;
}
.msj__icons {
  width: 150px;
  display: flex;
  justify-content: space-around;
}
.msj__qr {
  width: 80px;
}

.social-media__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 36px;
}
.social-media__icon {
  font-size: 3.2rem;
  color: var(--gray-13-color);
}
.social-media__icon:hover {
  font-size: 3.4rem;
  color: var(--second-color);
}

.pay__currency {
  font-weight: 300;
}
.pay__safe-icon {
  font-size: 1.6rem;
  color: #98ca3f;
}
.pay__options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  height: 36px;
}
.pay__icon {
  font-size: 2.4rem;
  color: var(--gray-15-color);
}
.pay__icon:hover {
  font-size: 2.6rem;
}

.pay__currency,
.pay__methods {
  margin-bottom: 5px;
}

.pay__methods {
  display: flex;
  align-items: center;
}

/* SECTION 2 */
.section-2 {
  grid-area: section-2;
  display: flex;
  flex-direction: column;
}
.phones__icon-title,
.email__icon-title,
.address__icon-title {
  display: flex;
  align-items: center;
}
.phones,
.email {
  margin-bottom: 30px;
}
.address {
  display: flex;
  flex-direction: column;
}
.address__1:hover,
.address__2:hover {
  color: var(--second-color);
}

/* SECTION 3 */
.section-3 {
  grid-area: section-3;
  width: 100%;
}
.map {
  width: 100%;
  height: 300px;
}
.map iframe {
  width: inherit;
  height: inherit;
}
.map__title {
  margin-bottom: 10px;
}

/* LOCATION - COPYRIGHT */
.location-copyright,
.developer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location-copyright {
  margin-bottom: 20px;
}
.location {
  margin-bottom: 5px;
}
.copyright {
  width: 80%;
  text-align: center;
  font-size: 1.2rem;
}

/* DEVELOPER */
.developer {
  padding: 5px 0;
  background: var(--gray-1-color);
}
.developer__link {
  text-align: center;
  margin-bottom: 5px;
}
.developer__link a {
  color: #ff0035;
  font-size: 1.6rem;
}
.developer__link a:hover {
  color: var(--gray-15-color);
  font-size: 1.7rem;
}
/* FIXED */
/* PHONE */
.phone {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 1px;
  left: 0;
  top: 0;
  margin-right: 10px;
  margin-top: 99px;
}
.phone__number {
  background: rgb(235, 227, 3);
  padding: 5px 10px;
  border-radius: 0 0 5px 5px;
  color: var(--gray-1-color);
  font-size: 2rem;
  margin-bottom: 250px;
}
.fa-phone-alt {
  margin-right: 10px;
  color: var(--second-color);
}

/* CHAT WSP-TLG */
.chat {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  padding: 1px;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 40px;
}
.chat__t,
.chat__w {
  font-size: 6.5rem;
  opacity: 1;
}
.chat__t:hover,
.chat__w:hover {
  font-size: 7.5rem;
  opacity: 1;
}
.chat__t {
  color: var(--telegram);
}
.chat__w {
  color: var(--whatsapp);
}
/* FIXED */

/* PRODUCTS */

.products {
  width: 100%;
}
.products__title {
}
.products__description {
}
.products__container {
}
.products__card {
  width: 250px;
}
.products__img {
  width: inherit;
  height: 200px;
  border-radius: 3px 3px 0 0;
}
.products__card-details {
  margin: 0 10px;
}
.products__card-button {
  padding: 10px 20px;
  background: var(--first-color);
}

/* PRODUCTS END */

/* MEDIA QUERIES */
@media (max-width: 1000px) {
  .header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: inherit;
    /* margin: 0 40px; */
  }
}
@media (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 870px) {
  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .about__products,
  .about__services {
    margin-bottom: 30px;
  }
}

@media (max-width: 750px) {
  /*   html {
    font-size: 62.5%;
  } */
  .header__container {
    margin: 0 1px;
  }
  .header__link {
    font-size: 1.8rem;
    margin: 5px;
  }
  /* environment */
  .environment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .environment__img {
    width: 95%;
  }
  .environment__text {
    width: 95%;
    margin-left: 0;
  }

  /* environment */
  .footer__container {
    display: grid;
    grid-gap: 20px;
    max-width: 90%;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "section-1   section-2"
      "section-3   section-3";
  }
  .section-1,
  .section-2,
  .section-3 {
    width: 100%;
    max-width: 100%;
  }
  .map {
    height: auto;
  }
}

@media (max-width: 570px) {
  .under-construction {
    width: 90%;
    margin: 0 auto;
  }
  .footer__container {
    display: grid;
    grid-gap: 40px;
    max-width: 96vw;
    margin: 40px auto;
    justify-items: center;
    align-items: flex-start;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "section-1"
      "section-2"
      "section-3";
  }
  .section-1,
  .section-2,
  .section-3 {
    max-width: 90%;
  }
  .msj,
  .social-media {
    margin-bottom: 20px;
  }
  .phones,
  .email {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 420px) {
  .header__link {
    font-size: 1.3rem;
    margin: 5px;
  }
}
